name: Handshakes

on:
  push:
    branches: 
      - main

  schedule:
    - cron: '*/15 * * * *'

  workflow_dispatch:

jobs:
  handshakes:
    name: Handshakes
    runs-on: ubuntu-20.04

    steps:
      - name: Handshake(DKPK)
        run: |
          curl --location -g --request GET '${{ secrets.DKPK_API_URL }}/api/facts' --header 'Authorization: Bearer ${{ secrets.AUTH_TOKEN }}'
          curl --location -g --request GET '${{ secrets.DKPK_API_URL }}/api/banner-messages' --header 'Authorization: Bearer ${{ secrets.AUTH_TOKEN }}'
          curl --location -g --request GET '${{ secrets.DKPK_API_URL }}/api/podcasts' --header 'Authorization: Bearer ${{ secrets.AUTH_TOKEN }}'

      - name: Handshake(Links)
        run: curl --location --request GET '${{ secrets.LINKS_API_URL }}/ping'
